img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.images {
  position: relative;
  &__more {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $zindex-layer-1;
    padding: $rh-xxs $rh-xsm;
    background: $blue-50;
    color: $white;
    .icon {
      @include fsRem(map-get($font-sizes, lrg));
      margin-right: $rh-xxs;
    }
  }
}

.image {
  &--full-width {
    width: 100%;
    height: auto;
    margin-bottom: $rh-sml;
  }
  &--right {
    float: right;
    margin-left: $rh-sml;
    margin-bottom: $rh-xsm;
    width: 30%;
  }
  &--left {
    float: left;
    margin-right: $rh-sml;
    margin-bottom: $rh-xsm;
    width: 30%;
  }
  &--round {
    border-radius: 50%;
  }

  &--profile {
    img {
      width: 95px;
      height: 95px;
      object-fit: cover;
    }
  }
}

