.link {
  &--ext {
    position: relative;
    display: inline-block;
    &:after {
      content: "\E315";
      display: inline-block;
      margin-left: 2px;
      vertical-align: middle;
      text-decoration: underline;
      font-family: $font-family-icons;
    }
  }
  &--grayscale {
    img {
      @include grayscale;
      @include transitions((filter));
    }
    &:hover {
      img {
        filter: none;
      }
    }
  }
  &--no-underline {
    text-decoration: none;
  }
}

a:after {
  text-decoration: none !important;
}
