.banner {
  padding: 90px 0;
  h2 {
    @include fsRem(map-get($font-sizes, xxl));
  }
  p {
    @include fsRem(map-get($font-sizes, xlr));
    font-family: $font-family-serif;
    font-style: italic;
    line-height: $line-height-sml;
  }

  //
  // Modifications
  //
  &--image {
    color: $white;
    background-position: 50% 50%;
    background-size: cover;
    a:not(.btn) {
      @include link-variant($white);
    }
  }
}
