.banner {
  padding: 90px 0;
  h2 {
    @include fsRem(map-get($font-sizes, xxl));
  }
  p {
    @include fsRem(map-get($font-sizes, xlr));
    font-family: $font-family-serif;
    font-style: italic;
    line-height: $line-height-sml;
  }
  .container {
    position: relative;
  }
  //
  // Modifications
  //
  &--image {
    position: relative;
    color: $white;
    background-color: $gray-50;
    background-position: 50% 50%;
    background-size: cover;
    &:before {
      @include absolute-fill;
      content: '';
      background-image: linear-gradient(to top, rgba($black, .3), transparent);
    }
    a:not(.btn) {
      @include link-variant(inherit);
    }
  }
}
