%panel-block {
  padding: $rh-sml;
  @include breakpoint(map-get($breakpoints, lrg)){
    padding: $rh-med;
  }
}
%status-block {
  @extend %panel-block;
  color: $white;
  a:not(.btn) {
    @include link-variant(inherit);
  }
  li {
    &:before {
      color: inherit
    }
  }
}

.block {
  display: block;
  & + & {
    margin-top: $rh-sml;
  }

  &__title {
    font-weight: $font-weight-regular;
    text-transform: none;
  }

  &--panel,
  &--indented {
    @extend %panel-block;
  }
  &--indented {
    padding: 0;
    @include breakpoint(map-get($breakpoints, med)){
      padding: $rh-med;
    };
  }
  &--white {
    @extend %panel-block;
    background: $white;
  }
  &--bg,
  &--gray {
    @extend %panel-block;
    background: $gray-0;
  }
  &--bg-darken {
    @extend %panel-block;
    background: $gray-25;
  }
  &--bg-lighten {
    @extend %panel-block;
    background: $gray-0;
  }
  &--border {
    & + & {
      border-top: 1px solid $gray-25;
      margin-top: 0;
    }
  }

  &--primary {
    @extend %status-block;
    background: $color-primary;
  }
  &--secondary {
    @extend %status-block;
    background: $color-secondary;
  }
  &--tertiary {
    @extend %status-block;
    background: $color-tertiary;
  }
  &--contact {
    @extend %status-block;
    background: $color-contact;
    color: inherit;
  }
  &--banner {
    @extend %status-block;
    background: rgba($white,.95);
    color: $color-text;
    a:not(.btn) {
      @include link-variant($color-link);
    }
  }

  @each $type, $color in $notice-colors {
    &--#{$type} {
      @extend %status-block;
      background: $color;
      .btn--close {
        color: $white;
        &:hover {
          color: lighten($white, 10%);
        }
      }
    }
  }
}
