.breadcrumb {
  clear: both;
  margin: 0 0 $rh-sml;
  color: $color-text;
  font-size: 0;
  text-decoration: none;
  &__scope {
    @include fsRem(map-get($font-sizes, sml));
    & + & {
      &:before {
        content: "›";
        // font-family: $font-family-icons;
        margin: 0 $rh-xxs;
      }
    }
  }
  &__item {
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
    &--active {
      @include link-variant($color-text);
      text-decoration: none;
    }
  }
}
