// The dropdown wrapper
.dropdown {
  position: relative;
  i {
    @include transitions(transform);
  }
  &.open i:last-child {
    transform: rotate(-180deg);
  }
}

// The toggle
// [data-toggle="dropdown"] {
//   &:focus {
//     outline: none;
//   }
// }

// The dropdown menu (ul)
.dropdown__menu {
  @include listreset;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-layer-5;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  margin: 2px 0 0; // override default ul
  padding: $rh-xsm 0;
  @include fsRem(map-get($font-sizes, med));
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $white;
  border: 1px solid $gray-0; // IE8 fallback
  border: 1px solid $gray-0;
  box-shadow: 0 2px 6px rgba($black, .05);
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  &--right {
    right: 0;
    left: auto;
  }

  // Display the dropdown over the dropdown link
  &--over {
    top: 0;
  }

  .open > & {
    display: block;
  }

  // Links within the dropdown menu
  > li {
    margin: 0;
    display: block;
    float: none;
    color: $color-text;
    > a {
      display: block;
      padding: 4px 15px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      background: $white;
      color: $color-text;
      text-decoration: none;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
      &:hover,
      &:focus {
        background: $blue-50;
        color: $white;
      }
    }
  }

  // Navbar dropdowns
  .navbar & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    border-top: 0;
  }
}

// Dividers (basically an hr) within the dropdown
.dropdown__divider {
  border-top: 1px solid $gray-25;
  margin: 3px 0;
}

// Dividers (basically an hr) within the dropdown
.dropdown__header {
  @include fsRem(map-get($font-sizes, sml));
  text-transform: uppercase;
  color: $gray-50;
  padding: 3px 10px;
  white-space: nowrap;
}
