.flyout {
  @include transitions((transform));
  width: 240px;
  transform: translateX(240px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: $rh-xsm;
  overflow: hidden;
  background: $color-secondary;
  border-left: 2px solid rgba($black, .1);
  color: $white;
  z-index: $zindex-layer-2;
  @include breakpoint($breakpoints-flyout, max-width) {
    &.in {
      transform: translateX(0);
    }
  }

  hr {
    margin-top: ($rh-sml - 4);
    margin-bottom: ($rh-sml - 4);
    border: 0;
    border-top: 1px solid darken($petrol-50, 8%);
  }
  // .flyout__back,
  // .flyout__close {
  //   font-family: $font-family-sans;
  //   // @include fsRem($font-size-med);
  //   font-style: normal;
  //   text-transform: uppercase;
  //   border-bottom: 1px solid $gray-0;
  //   .icon {
  //     margin-right: $rh-xxs;
  //   }
  //   &:after {
  //     display: none;
  //   }
  // }

  // .flyout-close {
  //   display: block;
  //   text-align: right;
  //   padding: 5px;
  //   position: absolute;
  //   right: 5px;
  //   top: 5px;
  //   z-index: 1001;
  // }
  @include breakpoint($breakpoints-flyout) {
    display: none;
  }

  .form {
    margin-bottom: 0;
    &__text,
    .btn {
      padding: $rh-xsm;
    }
  }

  .nav {
    float: none;
    li {
      display: block;
      float: none;
      margin-top: -3px;
      & + li {
        border: none;
        margin-left: 0;
        padding: 0;
      }
    }
    a {
      @include link-variant($white, $gray-25);
      display: block;
    }
    &--main {
      float: none;
      a {
        padding: 5px 25px 5px 0;
        position: relative;
        &:after {
          content: '\E315';
          font-family: $font-family-icons;
          position: absolute;
          right: 0;
        }
      }
    } // end --main
    &--service {
      @include fsRem(map-get($font-sizes, sml));
      a {
        padding: 5px 0;
      }
    }  // end --service
    &--login {
      margin-top: ($rh-sml - 4);
    }
  }
  .dropdown {
    position: static;
  }
  .dropdown__menu {
    @include fsRem(map-get($font-sizes, sml));
    position: static;
    margin-bottom: $rh-xsm;
    background: none;
    border: none;
    box-shadow: none;
    float: none;
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '\E315';
        font-family: $font-family-icons;
        position: absolute;
        left: 0;
        color: $white;
      }
      & + li {
        padding-left: 20px;
      }
    }
    a {
      background: none;
      padding: 0;
      text-decoration: underline;
      &:hover {
        background: none;
        text-decoration: none;
      }
    }
  }
  .inline--share {
    margin-left: 0;
    margin-right: 0;
    @include fsRem(map-get($font-sizes, sml));
    a {
      @include link-variant($white, $gray-25);
    }
    .inline__item {
      margin: 0;
    }
  }
}

.flyout__overlay {
  @include absolute-fill;
  z-index: $zindex-layer-1;
  background: $gray-0;
  background: rgba($black, .5);
  display: none;
  opacity: 0;
  @include transitions(opacity);
  .flyout-active & {
    display: block;
    opacity: 1;
  }
}

@mixin ext-flyout-line {
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 2px;
  background: $white;
  transition: all 200ms;
  transform-origin: center right;
}
.flyout__toggle {
  @include fsRem(map-get($font-sizes, med));
  position: relative;
  display: inline-block;
  padding: 6px 30px 8px 20px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  .lines {
    @include ext-flyout-line;
    top: 18px;
    right: 16px;
    transform: rotate3d(0, 0, 1, 45deg);
    &:before {
      @include ext-flyout-line;
      content: '';
      transform: rotate3d(0, 0, 1, -90deg);
    }
  }
  &.is-open {
    .lines,
    .lines:before {
      transform-origin: 50% 50%;
      height: 1px;
      width: 12px;
    }
    .lines {
      top: 19px;
      right: 10px;
    }
  }
}
