.page-footer {

}

.navbar--footer {
  .nav {
    &--inline {
      clear: both;
      li {
        clear: both;
        margin-bottom: $rh-xxs;
      }
      li + li {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }
      @include breakpoint(560px) {
        clear: none;
        ul {
          @include listreset;
          @include cf;
        }
        li {
          float: left;
          clear: none;
        }
        li + li {
          border-left: 1px solid $gray-25;
          margin-left: $rh-xsm;
          padding-left: $rh-xsm;
        }
      }
    }
  }
}
