@mixin inline-variant($spacing) {
  margin-top: -$spacing;
  margin-left: -$spacing;
  margin-right: -$spacing;
  .inline__item {
    float: left;
    vertical-align: baseline;
    margin-top: $spacing;
    margin-right: $spacing;
    margin-left: $spacing;
  }
}

.inline {
  @include cf;
  @include inline-variant($rh-xsm);
  &--sml {
    @include inline-variant($rh-xxs);
  }
  &:last-child {
    margin-bottom: 0;
  }

  &--share {
    @include inline-variant(($rh-xxs / 2));
    font-family: $font-family-serif;
    font-style: italic;
    .inline__item:first-child {
      margin-right: $rh-xsm;
    }
  }
}
