@mixin inline-variant($spacing) {
  margin-bottom: -$spacing;
  margin-left: -$spacing;
  margin-right: -$spacing;
  .inline__item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: $spacing;
    padding-right: $spacing;
    padding-left: $spacing;
  }
  img {
    vertical-align: middle;
  }
}

.inline {
  @include cf;
  @include inline-variant($rh-xsm);
  &--sml {
    @include inline-variant($rh-xxs);
  }
  &:last-child {
    margin-bottom: 0;
  }

  &--share {
    @include inline-variant(($rh-xxs / 4));
    font-family: $font-family-serif;
    font-style: italic;
    @include breakpoint(map-get($breakpoints, sml)){
      @include inline-variant(($rh-xxs / 2));
    }
    a {
      @include link-variant($blue-75);
    }
    .inline__item:first-child {
      margin-right: ($rh-xxs - 3); // 2px
      width: 100%;
    }
  }
}

// .inline--divider {
//   .inline__item {
//     border-right: 1px solid;

//     &:last-child {
//       border-right: 0;
//     }
//   }
// }

.inline--footer {
  .inline__item {
    border-left: none;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(590px) {
      border-left: 1px solid;
      margin-bottom: 0;
    }
    &:first-child {
      border-left: 0;
    }
  }
}
