.logo {
  display: inline-block;
  background: transparent url(//stijl.kuleuven.be/2016tmp/img/svg/logo.svg) no-repeat center center;
  background-size: 100% 100%;
  width: 157px;
  height: 56px;
  margin-right: $rh-med;
  .no-svg & {
    background-image: url(//stijl.kuleuven.be/2016tmp/img/logo.png);
  }
  &--xsm {
    width: 107px;
    height: 38px;
  }
  &--sml {
    width: 126px;
    height: 45px;
  }
  &--floating {
    position: absolute;
    top: 14px;
    z-index: $zindex-layer-2;
  }
}

.logo-2 {
  margin-top: -25px;
  width: 157px;
  height: 56px;
  @include breakpoint(map-get($breakpoints, med)) {
    margin-top: -55px;
    width: 157px;
    height: 56px;
  }
  @include breakpoint(980px) {
    margin-top: 0;
    width: 126px;
    height: 45px;
  }
}
