.logo {
  display: inline-block;
  background: transparent url(../img/svg/logo.svg) no-repeat center center;
  background-size: 100% 100%;
  width: 157px;
  height: 56px;
  margin-right: $rh-med;
  .no-svg & {
    background-image: url(../img/logo.png);
  }
  &--xsm {
    width: 107px;
    height: 38px;
  }
  &--sml {
    width: 140px;
    height: 50px;
  }
  &--floating {
    position: absolute;
    top: 14px;
    z-index: $zindex-layer-2;
  }
}
