.page-wrap {
  @include breakpoint($breakpoints-flyout, max-width) {
    @include transitions((transform));
    z-index: 0;
    &.collapse {
      display: block;
    }
    &.in {
      transform: translateX(-240px);
    }
  }
}
