.meta {
  // margin-top: $rh-xxs;
  color: $blue-50;
  line-height: 1.2;
  margin-bottom: -$rh-xxs;
  > * {
    margin-top: $rh-xxs;
  }
  &--grayed-out {
    color: $gray-50;
  }
  &__item {
    position: relative;
    display: inline-block;
    padding-right: $rh-sml;
    &:after {
      content: '';
      height: .9em;
      position: relative;
      left: (($rh-sml / 2) + 2);
      top: 0.1em;
      display: inline-block;
      border-left: 1px solid $gray-50;
    }
    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    .icon {
      margin-right: 5px;
    }
    &--lrg {
      @include fsRem(map-get($font-sizes, lrg));
    }
  }

  &--detail {
    margin-bottom: $rh-xsm;
    color: $color-text;
    @include fsRem(map-get($font-sizes, lrg));
    &--lrg {
      @include fsRem(map-get($font-sizes, xlr));
    }
  }

}
