.navbar {
  @include clearfix();
  padding: $rh-sml 0;

  &--no-padding {
    padding: 0;
  }

  ul {
    @include listreset;
  }
  a:not(.btn) {
    // @include link-variant($blue-75);
    // text-decoration: underline;
    // &:hover {
    //   text-decoration: none;
    // }
  }
  .nav {
    .dropdown__menu a {
      &:hover {
        color: $white;
      }
    }
    &--tabs {
      float: left;
      width: 90%;
      border-bottom: 0;
      a {
        @include link-variant($gray-100, $black);
      }
    }
    &--language {
      a {
        @include link-variant($gray-100, $black);
        &.active {
          color: $blue-50;
        }
      }
    }
  }
  .form + .flyout__link {
    margin-left: $rh-sml;
  }
  .dropdown__menu {
    padding: $rh-xsm 0;
  }
}
.navbar--global {
  background: $blue-75;
  color: $white;
  @include fsRem(map-get($font-sizes, sml));
  & + & {
    border-top: 4px solid shade($blue-75);
  }

  a:not(.btn) {
    @include link-variant($white);
  }
  .list--unordered {
    li + li {
      margin-top: $rh-xxs;
    }
  }
  .nav {
    &--main {
      a {
        @include link-variant($white, $gray-25);
      }
    }
    &--inline {
      margin-top: 16px;
      li + li {
        border-left: 0;
        margin-left: $rh-med;
        padding: 0;
      }
      .dropdown__menu {
        li + li {
          margin: 0;
        }
      }
    }
    &--user {
      .dropdown-toggle {
        display: inline-block;
        // padding: 14px $rh-xxs 10px;
        padding: 14px $rh-xxs 0;
        border-bottom: 4px solid transparent;
      }
      // .open {
      //   .dropdown-toggle {
      //     border-bottom-color: $blue-50;
      //     background-color: $white;
      //     color: $blue-75;
      //   }
      // }
    }
  }
  a.flyout__link {
    margin-top: $rh-xsm;
    text-decoration: none;
  }

  .grid {
    padding: $rh-sml 0;
    & + .grid {
      margin-top: 0;
    }
  }
  .dropdown__menu {
    a {
      @include link-variant($color-text);
    }
  }
}
.navbar--local {
  padding-top: $rh-xsm;
  padding-bottom: 0;
  background: $gray-0;
  z-index: $zindex-layer-1;
  @include fsRem(map-get($font-sizes, sml));
  a {
    @include link-variant($blue-50);
  }
  .list--unordered {
    margin-top: $rh-xsm;
    li {
      &:before {
        color: $blue-50;
      }
      & + li {
        margin-top: $rh-xxs;
      }
    }
  }
  footer & {
    padding: $rh-med 0;
  }
  .nav--list {
    text-transform: uppercase;
    margin-bottom: $rh-sml;
  }
  .inline--share {
    a {
      @include link-variant($blue-50, $blue-75);
    }
  }
}
.navbar--footer {
  .nav--inline {
    margin-top: 7px;
  }
  .inline--share {
    margin-top: 4px;
  }
}
.navbar--sedes {
  background-image: url(../img/sedes-kuleuven.png);
  background-repeat: no-repeat;
  background-position: -30% top;
}
.navbar--small {
  .nav {
    &--inline {
      margin-top: 0;
      > ul > li > a {
        padding: $rh-xxs 0;
      }
    }
    &--user {
      .dropdown-toggle {
        padding: 5px 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.navbar__nav {
  @include listreset;
  float: left;
  > li {
    float: left;
    > a {
      font-weight: $font-weight-bold;
      display: inline-block;
      padding: $rh-xsm;
      color: $gray-0;
      text-decoration: none;
      &:hover {
        color: $white;
        background: $gray-75;
      }
      .icon:first-child {
        margin-right: 5px;
      }
      .icon:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar__form {
  margin-bottom: 0;
  padding: 9px 0;
  width: 300px;
  color: $color-text;
  .form__text {
    padding: 5px 10px;
  }
  .btn {
    @include fsRem(18px);
    padding: 2px 8px 0;
  }
  .navbar--global & {
    .form__text {
      border-radius: $border-radius-sml 0 0 $border-radius-sml;
      border: none;
      &:focus {
        ~ .btn {
          color: $white;
          background: $blue-50;
          border-color: $blue-50;
        }
      }
    }
    .btn {
      @include button-variant($gray-50, $white);
      margin-left: 0;
      border: 1px solid $gray-0;
      border-width: 0 0 0 1px;
      border-radius: 0 $border-radius-sml $border-radius-sml 0;
    }
  }
  @include breakpoint(map-get($breakpoints, med)) {
    width: 350px;
  }
}

.navbar__title {
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-sml;
  text-transform: uppercase;
  .navbar--local & {
    color: $blue-50;
  }
  &--no-margin {
    margin-bottom: 0;
  }
}
.navbar__subtitle {
  text-transform: uppercase;
}

.navbar__left {
  float: left;
}
.navbar__right {
  float: right;
}

.navbar__logo {
  display: inline-block;
  background: transparent url(../img/svg/logo.svg) no-repeat center center;
  width: 157px;
  height: 56px;
  margin-right: $rh-med;
  .no-svg & {
    background-image: url(../img/logo.png);
  }
  .navbar--global & {
    background-image: url(../img/svg/logo-simple.svg);
    width: 130px;
    height: 30px;
    margin-top: 9px;
    &--footer {
      margin-top: 12px;
    }
  }
  .navbar--footer & {
    width: 107px;
    height: 38px;
    background-size: 100%;
  }
}
