.navbar {
  @include clearfix();
  padding: $rh-sml 0;
  position: relative;
  &--no-padding {
    padding: 0;
  }

  ul {
    @include listreset;
  }
  a:not(.btn) {
    // @include link-variant($color-secondary);
    // text-decoration: underline;
    // &:hover {
    //   text-decoration: none;
    // }
  }
  .nav {
    .dropdown__menu a {
      &:hover {
        color: $white;
      }
    }
    &--tabs {
      border-bottom: 0;
      a {
        @include link-variant($gray-100, $black);
      }
      @include breakpoint(map-get($breakpoints, med)) {
        display: block;
      }
      @include breakpoint(map-get($breakpoints, med), max-width) {
        display: none;
        width: 100%;
        float: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: $gray-0;
        &.in {
          display: block;
        }
        li {
          display: block;
          float: none;
        }
        a {
          padding: $rh-xxs $rh-sml;
          background: none;
          &.active,
          &:hover {
            background: none;
            color: $color-primary;
          }
          @include breakpoint(map-get($breakpoints, sml)) {
            padding: $rh-xxs $rh-xsm;
          }
        }
      }
    }
    &--language {
      a {
        @include link-variant($gray-100, $black);
        &.active {
          color: $color-primary;
        }
      }
    }
  }
  .dropdown__menu {
    // padding: $rh-xsm 0;
  }
}
.navbar-2 {
  @include clearfix();
  padding: 0;
  position: relative;
  background: $gray-0;
  @include breakpoint(map-get($breakpoints, med)) {
    background: transparent;
    padding: $rh-sml 0;
    position: relative;
  }
}
.navbar--global {
  background: $color-secondary;
  color: $white;
  @include fsRem(map-get($font-sizes, sml));
  border-bottom: $rh-med solid $gray-0;
  & + & {
    border-top: 2px solid rgba($color-tertiary, .1);
    border-bottom: 0;
    padding: $rh-med 0 0;
  }
  &.next-sibling-is-visible {
    border-bottom: 0;
  }
  // footer & {
  //   border-bottom: 0;
  // }
  a:not(.btn) {
    @include link-variant($white);
  }
  .list--unordered {
    li {
      &:before {
        color: $white;
      }
      & + li {
        margin-top: $rh-xxs;
      }
    }
  }
  .grid {
    padding: $rh-sml 0;
    & + .grid {
      margin-top: 0;
    }
  }
  .dropdown__menu {
    a {
      @include link-variant($color-text);
    }
  }
  @include breakpoint(map-get($breakpoints, med), max-width) {
    & + &,
    .nav--user,
    .form--search,
    .navbar--link {
      display: none;
    }
  }
}
.navbar--local {
  @include transitions((border));
  padding-top: $rh-xsm;
  padding-bottom: 0;
  background: $gray-0;
  z-index: $zindex-layer-2;
  .is-sticky & {
    // padding-top: $rh-xsm;
    border-bottom: 1px solid $gray-25;
  }
  @include fsRem(map-get($font-sizes, sml));
  // a {
  //   @include link-variant($color-primary);
  // }
  .list--unordered {
    margin-top: $rh-xsm;
    li {
      &:before {
        color: $color-primary;
      }
      & + li {
        margin-top: $rh-xxs;
      }
    }
  }
  footer & {
    padding: $rh-med 0;
  }
  .nav--list {
    text-transform: uppercase;
    margin-bottom: $rh-sml;
  }
  .inline--share {
    a {
      @include link-variant($color-primary, $color-secondary);
    }
  }
}
.navbar--footer {
  background: $white;
  .nav--inline {
    margin-top: 7px;
  }
  .inline--share {
    margin-top: 4px;
  }
}
.navbar--sedes {
  background-image: url(../img/sedes-kuleuven.png);
  background-repeat: no-repeat;
  background-position: -30% 5%;
}
.navbar--small {
  .nav {
    &--inline {
      margin-top: 0;
      > ul > li > a {
        padding: $rh-xxs 0;
      }
    }
    &--user {
      .dropdown-toggle {
        padding: 5px 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.navbar__nav {
  @include listreset;
  float: left;
  > li {
    float: left;
    > a {
      font-weight: $font-weight-bold;
      display: inline-block;
      padding: $rh-xsm;
      color: $gray-0;
      text-decoration: none;
      &:hover {
        color: $white;
        background: $gray-75;
      }
      .icon:first-child {
        margin-right: 5px;
      }
      .icon:last-child {
        margin-right: 0;
      }
    }
  }
  & + .navbar__form {
    margin-left: $rh-sml;
  }
}

.navbar__form {
  @include breakpoint(map-get($breakpoints, lrg)) {
    width: 350px;
  }
}

.navbar__form-2 {
  @include breakpoint(map-get($breakpoints, med)) {
    width: 235px;
  }
  @include breakpoint(map-get($breakpoints, lrg)) {
    width: 220px;
  }
  @include breakpoint(1120px) {
    width: 350px;
  }
}

.navbar__title {
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-xms;
  text-transform: uppercase;
  .navbar--local & {
    color: $color-secondary;
    width: 100%;
    @include breakpoint(800px) {
      width: 65%;
    }
  }
  &--no-margin {
    margin-bottom: 0;
  }
}
.navbar__subtitle {
  text-transform: uppercase;
}

.navbar__left {
  float: left;
}
.navbar__right {
  float: right;
}


%ext-navbar-line {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 2px;
  background: $color-text;
  border-radius: 1px;
  transition: all 200ms;
}

.navbar__toggle {
  @include link-variant($color-text);
  @include fsRem(map-get($font-sizes, sml));
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  .lines {
    @extend %ext-navbar-line;
    top: 20px;
    right: 0;
    &:before {
      @extend %ext-navbar-line;
      content: '';
      top: -4px;
      transform-origin: 50% 50%;
    }
    &:after {
      @extend %ext-navbar-line;
      content: '';
      top: 4px;
      transform-origin: 50% 50%;
    }
  }
  &.is-open {
    .lines {
      background: transparent;
      &:before {
        top: 0px;
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        top: 0px;
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  &--btn {
    @include fsRem(map-get($font-sizes, med));
    padding: 6px 40px 8px 20px;
    font-weight: $font-weight-bold;
    .lines {
      right: 16px;
      top: 18px;
      height: 2px;
      &:before,
      &:after {
        height: 2px;
      }
    }
  }
  &--dark {
    @include link-variant($white);
    background: rgba($color-tertiary, .3);
    .lines {
      background: $white;
      &:before,
      &:after {
        background: $white;
      }
    }
  }
}
