.navbar {
  @include clearfix();
  padding: $rh-sml 0;
  ul {
    @include listreset;
  }
  .nav--tabs {
    float: none;
    border-bottom: 0;
  }
  .form + .nav {
    border-left: 1px solid rgba($blue-50, .5);
    padding-left: $rh-sml;
  }
  .dropdown__menu {
    padding: $rh-xsm 0;
  }
}
.navbar--global {
  padding: 0;
  background: $blue-75;
  color: $white;
  @include fsRem(map-get($font-sizes, sml));
  a:not(.btn) {
    color: inherit;
    text-decoration: none;
  }
  .nav  {
    &--inline {
      margin-top: 16px;
      li + li {
        border-left: 0;
        margin-left: $rh-med;
        padding: 0;
      }
    }
  }
  & + & {
    border-top: 4px solid shade($blue-75);
  }
  .nav--user {
    .dropdown-toggle {
      display: inline-block;
      padding: 14px $rh-xxs 10px;
      border-bottom: 4px solid transparent;
    }
    .open {
      .dropdown-toggle {
        border-bottom-color: $blue-50;
        background-color: $white;
        color: $blue-75;
      }
    }
  }
  .flyout__link {
    margin-top: $rh-xsm;
  }
}
.navbar--local {
  padding-bottom: 0;
  background: $gray-0;
  @include fsRem(map-get($font-sizes, sml));
  .list--unordered {
    margin-top: $rh-xxs;
    li {
      &:before {
        color: $blue-50;
      }
      & + li {
        margin-top: 0;
      }
    }
  }
  footer & {
    padding: $rh-med 0;
  }
  .nav--list {
    text-transform: uppercase;
    margin-bottom: $rh-sml;
  }
}

.navbar__nav {
  @include listreset;
  float: left;
  > li {
    float: left;
    > a {
      font-weight: $font-weight-bold;
      display: inline-block;
      padding: $rh-xsm;
      color: $gray-0;
      text-decoration: none;
      &:hover {
        color: $white;
        background: $gray-75;
      }
      .icon:first-child {
        margin-right: 5px;
      }
      .icon:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar__form {
  margin-bottom: 0;
  padding: 9px $rh-sml;
  color: $color-text;
  width: 300px;
  .form__text {
    padding: 5px 10px;
  }
  .btn {
    @include fsRem(18px);
    margin-left: 10px;
    padding: 2px 6px 0;
  }
}

.navbar__title {
  letter-spacing: $letter-spacing-sml;
  color: $blue-50;
}

.navbar__left {
  float: left;
}
.navbar__right {
  float: right;
}

.navbar__logo {
  display: inline-block;
  background: transparent url(../img/svg/logo.svg) no-repeat center center;
  width: 157px;
  height: 56px;
  margin-right: $rh-med;
  .no-svg & {
    background-image: url(../img/logo.png);
  }
  .navbar--global & {
    background-image: url(../img/svg/logo-simple.svg);
    width: 130px;
    height: 30px;
    margin-top: $rh-xsm;
    margin-bottom: $rh-xsm;
  }
}
