%ext-default-nav {
  ul {
    @include listreset;
    @include cf;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
  }
}

.nav {
  &--inline {
    @extend %ext-default-nav;
    li + li {
      border-left: 1px solid $gray-25;
      margin-left: $rh-xsm;
      padding-left: $rh-xsm;
    }
    .dropdown__menu {
      li + li {
        margin: 0;
      }
    }
    a {
      @include link-variant($blue-75, $gray-75);
      text-decoration: underline;
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &--main {
    @extend %ext-default-nav;
    @include fsRem(18px);
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-sml;
    a {
      @include link-variant($gray-75, $blue-75);
      display: block;
      padding: 13px 0;
      text-decoration: none;
    }
    li + li {
      margin-left: $rh-xlr;
    }
  } // end .-main

  &--service {
    @extend %ext-default-nav;
    margin-top: 16px;
    margin-bottom: 16px;
    li + li {
      border-left: 0;
      margin-left: $rh-med;
      padding: 0;
    }
    .dropdown__menu {
      li + li {
        margin: 0;
      }
    }
    @include breakpoint(map-get($breakpoints, lrg), max-width) {
      clear: left;
      margin-top: 0;
    }
  }

  &--tabs {
    @extend .tabbable;
    .nav__item--home {
      margin-right: 0;
    }
    li a {
      padding: $rh-xsm 0;
    }
  } // end .nav--tabs

  &--language {
    float: right;
    text-transform: uppercase;
    border-left: 1px solid $gray-25;
    margin-left: $rh-sml;
    padding-left: $rh-sml;
    li {
      float: none;
      margin-bottom: 5px;
    }
    a {
      @include link-variant($gray-100, $blue-50);
      display: block;
      text-decoration: none;
      padding: $rh-xsm 0;
      &.active {
        color: $blue-50;
      }
    }
  } // end .-language

  &--user {
    a {
      text-decoration: none;
    }
    .dropdown-toggle {
      display: inline-block;
      padding: 9px 0 5px;
      border-bottom: 4px solid transparent;
    }
  }

  &--list {
    line-height: lh($line-height-base);
    li {
      float: none;
      & + li {
        margin-top: $rh-xsm;
      }
    }
    a {
      @include link-variant($color-text, $blue-50);
    }
  } // end .-list

  &--on-dark {
    a {
      @include link-variant($white, $gray-25);
    }
  }
}
