.pagination {
  @include listreset;
  @include fsRem(map-get($font-sizes, med));
  // clear: both;
  margin: $rh-sml 0 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: $rh-xxs;
  }
  a {
    display: inline-block;
    text-decoration: none;
    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  &__btn {
    @include link-variant($blue-75, $white);
    display: inline-block;
    width: 30px;
    padding: 5px 0;
    background: $gray-0;
    color: $blue-75;
    text-align: center;
    &.active,
    &:hover,
    &:focus {
      background: $color-primary;
      color: $white;
    }
  }
  &__prev-next {
    font-family: $font-family-icons;
  }
}
