.panel {
  border: 1px solid $gray-25;
  &--bg {
    background: tint($gray-0, 50%);
  }
  &--glue {
    & + & {
      margin-top: 0;
      border-top: 0;
    }
    &.panel--bg {
      & + & {
        background: $gray-0;
      }
    }
  }
  &__header {
    padding: $rh-sml;
    border-bottom: 1px solid $gray-25;
  }
  &__body {
    padding: $rh-sml;
  }
  &__footer {
    padding: $rh-sml;
    border-top: 1px solid $gray-25;
  }
  &__icon {

  }
}
