.spacer {
  & + & {
    margin-top: $rh-sml;
  }

  @each $rh, $px in $rhythm {
    &--#{$rh} {
      [class*="spacer"] + & {
        margin-top: $px;
      }
    }
  }
}

// E.g.: .spacer--bp-med
@each $bp, $px in $breakpoints  {
  @include breakpoint($px, 'min-width') {
    .spacer--bp-#{$bp} {
      margin-top: 0 !important;
    }
  }
}
