.tab {
  border: 1px solid $gray-25;
  .tabbable {
    padding-right: $rh-sml;
    padding-left: $rh-sml;
  }
  // border-radius: $border-radius-med;
}
.tabbable {
  border-bottom: 1px solid $gray-25;
  ul {
    margin: 0 -#{$rh-sml};
    padding: 0;
  }
  li {
    @include fsRem(map-get($font-sizes, sml));
    position: relative;
    z-index: $zindex-layer-1;
    display: inline-block;
    margin: 0 $rh-sml;
    text-transform: uppercase;
    & + & {
    }
    a {
      @include link-variant($gray-100, $black);
      @include transitions(background-size);
      display: block;
      text-decoration: none;
      padding: $rh-xsm 0;
      background: linear-gradient(to right,$gray-50, $gray-50) bottom center no-repeat;
      background-size: 0 4px;
      &:hover,
      &:focus {
        background-size: 100% 4px;
      }
      &.active {
        color: $color-brand-primary;
        background-image: linear-gradient(to right,$color-brand-primary, $color-brand-primary);
        background-size: 100% 4px;
      }
    }
    &.active,
    &.open {
      > a {
        color: $color-brand-primary;
        background-image: linear-gradient(to right,$color-brand-primary, $color-brand-primary);
        background-size: 100% 4px;
      }
    }
  }
}

.tabs__content {
  padding: $rh-sml;
  > .tabs__pane {
    display: none;
  }
  > .active {
    display: block;
  }
  & + & {
    padding-top: 0;
  }
}
